*{
  background-color: black;
}
.center {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 500px;
  object-fit: cover;
}
